$body-bg: #e8e6e1;
$secondary-color: #212529;
$third-color: #dc3545;
$fourth-color: #343a40;
$food-bg: #fcfbf9;
$main-font: "Montserrat";
$text-font: "Karla";
$suptitle-font: "Allura";
$second-font: "Noto Serif";
